
    <div class = 'col-xs-12' style="margin-top:20px;"> 
      <%= form_for(@expense_estimate, url: { action: 'update' }, :html => {class: "form-horizontal", roll: "form"}) do |f| %>
      
      <div class = "form-group">       <!-- form for registration cost -->
          <div class = "control-label col-sm-2">
            <%= f.label :registration %>
          </div>
          <div class = "col-sm-8">
             <%= f.text_field :registration, class: "form-control", placeholder: "Estimated registration costs after taxes", autofocus:true %>
          </div>
      </div>
      
      <div class = "form-group">       <!-- form for accomodation cost -->
          <div class = "control-label col-sm-2">
            <%= f.label :accomodation %>
          </div>
          <div class = "col-sm-8">
             <%= f.text_field :accomodation, class: "form-control", placeholder: "Estimated accomodation costs", autofocus:true %>
          </div>
      </div>
      
      <div class = "form-group">       <!-- form for transportation cost -->
          <div class = "control-label col-sm-2">
            <%= f.label :transportation %>
          </div>
          <div class = "col-sm-8">
             <%= f.text_field :transportation, class: "form-control", placeholder: "Estimated transportation costs", autofocus:true %>
          </div>
      </div>
      
      <div class = "form-group">       <!-- form for meal costs -->
          <div class = "control-label col-sm-2">
            <%= f.label :meals %>
          </div>
          <div class = "col-sm-8">
             <%= f.text_field :meals, class: "form-control", placeholder: "Estimated meal costs", autofocus:true %>
          </div>
      </div>
      
      <div class = "form-group">      <!-- form for cost justification -->
          <div class = "control-label col-sm-2">
            <%= f.label :justification %>
        </div>
          <div class = "col-sm-8">
          <%= f.text_area :justification, rows: 10, class: "form-control", placeholder: "Justification of Costs", autofocus:true%>
          </div>
      </div>

     
      <div class = "form-group">     <!-- form for button -->
        <div class ="col-sm-offset-5 col-sm-10">
           <%= f.submit 'Update Expense Estimate', class: 'btn btn-primary btn-lg' %>
           <%= link_to 'Cancel', application_request_path(@expense_estimate.application_request), class: "btn btn-lg btn-warning" %>
        </div>
      </div>
      <% end %>
       
    </div>
