
    <div class = 'col-xs-12' style="margin-top:20px;"> 
      <%= form_for(@presentation, url: { action: 'update' }, :html => {class: "form-horizontal", roll: "form"}) do |f| %>
      
      <div class = "form-group">       <!-- form for registration cost -->
          <div class = "control-label col-sm-2">
            <%= f.label :topic %>
          </div>
          <div class = "col-sm-8">
             <%= f.text_field :topic, class: "form-control", placeholder: "Estimated registration costs after taxes", autofocus:true %>
          </div>
      </div>
      
      <div class = "form-group">       <!-- form for accomodation cost -->
          <div class = "control-label col-sm-2">
            <%= f.label :presentation_format %>
          </div>
          <div class = "col-sm-8">
             
            <%= f.select :presentation_format, ['Powerpoint', 'Poster'], class: "form-control", placeholder: "Select presentation format", autofocus:true %>
          
          </div>
      </div>
     
     
      <div class = "form-group">     <!-- form for button -->
        <div class ="col-sm-offset-5 col-sm-10">
           <%= f.submit 'Update Presentation', class: 'btn btn-primary btn-lg' %>
           <%= link_to 'Cancel', application_request_path(@presentation.application_request), class: "btn btn-lg btn-warning" %>
        </div>
      </div>
      <% end %>
       
    </div>
